#quote-box{
  margin: 0 auto;
  width: 90%;
}

blockquote {
  font-size: 60px;
  color: #fff;
  margin: 0;
}
blockquote:before,
blockquote:after {
  font-size: 85px;
  line-height: 0;
  position: relative;
}

blockquote:before {
  content: "“";
  margin-right: 5px;
  top: 20px;

}
blockquote:after {
  content: "”";
  margin-left: 5px;
  top: 35px;
}

cite {
  font-size: 20px;
  color: #fff;
  font-style: normal;
  display: block;
  margin: 20px 70px 0 70px;
  text-align: right;
}

body {
  background-color: #2EA640;
  font-family: 'Playfair Display', serif;
}